<template>
  <Layout>
    <div class="blob-1 absolute z-40 top-0 right-0 pointer-events-none" v-parallax="-0.5">
      <g-image src="~/img/blob-1.svg" class="w-100" />
    </div>
    <div class="blob-2 z-40 left-0 absolute pointer-events-none" v-parallax="0.2">
      <g-image src="~/img/blob-2.svg" class="w-100" />
    </div>
    <div class="blob-3 absolute bottom-0 right-0 pointer-events-none">
      <g-image src="~/img/blob-3.svg" class="w-100" />
    </div>
    <div class="welcome-section relative min-h-screen">
      <g-image src="~/img/bg-img.jpg" class="absolute w-full h-full object-cover" />
      <div class="welcome-section__content absolute w-full h-full flex items-center">
        <div class="container mx-auto py-10">
          <div class="w-3/5 mx-auto">
            <p
              class="text-white lg:text-xl text-center pt-10"
            >Somos un centro médico especializado en el cuidado de la salud de la mujer ubicado en Querétaro.</p>
          </div>
        </div>
      </div>
    </div>

    <Services />

    <div class="footer lg:py-8" id="contact">
      <div class="container mx-auto lg:flex lg:items-center relative">
        <div class="lg:w-6/12">
          <Map :mapConfig="mapConfig" apiKey="AIzaSyDL9f7FbNpw9uW34qezv763nt6XogsLerc">
            <template slot-scope="{ google, map }">
              <MapMarker :marker="marker" :google="google" :map="map" />
            </template>
          </Map>
        </div>
        <div class="lg:w-6/12 px-8 text-center py-8 lg:py-5">
          <h2 class="text-2xl mb-8">Contáctanos</h2>
          <div class="mb-8">
            <p>
              Dra. Tania Margarita Hernández García
              <br />Ginecóloga Oncóloga
            </p>
            <a href="mailto:dra_tania@centronushu.com">dra_tania@centronushu.com</a>
            <div class="md:flex md:justify-center mt-3">
              <a href="tel:5540905444">C. 554 090 5444</a>
              <a href="tel:4421612340" class="mx-8">T. 442 161 2340</a>
              <a href="tel:4424578775">C. 442 457 8775</a>
            </div>
          </div>
          <div class="mb-8">
            <p>
              Dr. Agni Jaim Muñoz Granados
              <br />Ginecólogo Oncólogo
            </p>
            <a href="mailto:dr_agni@centronushu.com">dr_agni@centronushu.com</a>
            <div class="md:flex md:justify-center mt-3">
              <a href="tel:5543833984">C. 554 383 3984</a>
              <a href="tel:4421612340" class="mx-8">T. 442 161 2340</a>
              <a href="tel:4424578775">C. 442 457 8775</a>
            </div>
          </div>
          <a href="mailto:hola@centronushu.com" class="text-lg mb-5 block">hola@centronushu.com</a>
          <p>
            Hospital H + (Tec 100) Torre 3,
            <br />piso 6, Consultorio 606
          </p>
        </div>
        <span class="absolute w-5/12 h-px bottom-0 right-0 divider hidden lg:block"></span>
      </div>
    </div>
  </Layout>
</template>

<script>
import Services from '~/components/Services'
import Map from '~/components/Map'
import MapMarker from '~/components/MapMarker'
import VueParallaxJs from 'vue-parallax-js'
import Vue from 'vue'
Vue.use(VueParallaxJs)
export default {
  metaInfo: {
    title: 'Inicio',
    meta: [
      { name: 'author', content: 'Bloom Studio' },
      {
        name: 'description',
        content:
          'Nushu es un centro médico especializado en el cuidado de la salud de la mujer ubicado en Querétaro.'
      },
      { name: 'twitter:card', content: 'summary' },
      {
        name: 'twitter:title',
        content: 'Nushu centro Gineco-oncológico'
      },
      {
        name: 'twitter:description',
        content:
          'Nushu es un centro médico especializado en el cuidado de la salud de la mujer ubicado en Querétaro.'
      },
      {
        name: 'twitter:image',
        content: '/assets/static/src/img/bg-img.jpg'
      },
      {
        property: 'og:title',
        content: 'Nushu centro Gineco-oncológico'
      },
      {
        property: 'og:type',
        content: 'website'
      },
      {
        property: 'og:url',
        content: 'htts://centronushu.com'
      },
      {
        property: 'og:image',
        content: '/assets/static/src/img/bg-img.jpg'
      },
      {
        property: 'og:description',
        content:
          'Nushu es un centro médico especializado en el cuidado de la salud de la mujer ubicado en Querétaro.'
      },
      {
        property: 'og:site_name',
        content: 'Nushu centro Gineco-oncológico'
      }
    ]
  },
  components: {
    Services,
    Map,
    MapMarker
  },
  data() {
    return {
      marker: {
        position: {
          lat: 20.58371,
          lng: -100.4021447
        }
      },
      mapConfig: {
        center: { lat: 20.58371, lng: -100.4021447 },
        zoom: 14,
        styles: [
          {
            featureType: 'all',
            elementType: 'labels.text.fill',
            stylers: [
              {
                saturation: 36
              },
              {
                color: '#000000'
              },
              {
                lightness: 40
              }
            ]
          },
          {
            featureType: 'all',
            elementType: 'labels.text.stroke',
            stylers: [
              {
                visibility: 'on'
              },
              {
                color: '#ffffff'
              },
              {
                lightness: 16
              }
            ]
          },
          {
            featureType: 'all',
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off'
              }
            ]
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#fefefe'
              },
              {
                lightness: 20
              }
            ]
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#fefefe'
              },
              {
                lightness: 17
              },
              {
                weight: 1.2
              }
            ]
          },
          {
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5'
              },
              {
                lightness: 20
              }
            ]
          },
          {
            featureType: 'landscape.natural',
            elementType: 'geometry',
            stylers: [
              {
                visibility: 'on'
              }
            ]
          },
          {
            featureType: 'landscape.natural.landcover',
            elementType: 'all',
            stylers: [
              {
                visibility: 'on'
              }
            ]
          },
          {
            featureType: 'landscape.natural.terrain',
            elementType: 'all',
            stylers: [
              {
                visibility: 'on'
              }
            ]
          },
          {
            featureType: 'poi',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5'
              },
              {
                lightness: 21
              }
            ]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [
              {
                color: '#dedede'
              },
              {
                lightness: 21
              }
            ]
          },
          {
            featureType: 'road',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#f5c1b0'
              }
            ]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#f5c1b0'
              },
              {
                lightness: 17
              }
            ]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 29
              },
              {
                weight: 0.2
              }
            ]
          },
          {
            featureType: 'road.arterial',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 18
              }
            ]
          },
          {
            featureType: 'road.arterial',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#f5c1b0'
              }
            ]
          },
          {
            featureType: 'road.local',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff'
              },
              {
                lightness: 16
              }
            ]
          },
          {
            featureType: 'road.local',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#dbdada'
              }
            ]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f2f2f2'
              },
              {
                lightness: 19
              }
            ]
          },
          {
            featureType: 'transit.line',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#f5c1b0'
              }
            ]
          },
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [
              {
                color: '#e9e9e9'
              },
              {
                lightness: 17
              }
            ]
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss">
.blob-1 {
  max-width: 535px;
  img {
    transform: translate(40%, -30%);
  }
}
.blob-2 {
  top: 100vh;
  img {
    transform: translate(-50%, -50%);
    @media (min-width: 768px) {
      transform: translate(-40%, -50%);
    }
  }
}
.blob-3 {
  img {
    transform: translate(30%, 30%);
  }
}
.footer {
  h2 {
    color: #f48b91;
    font-family: AdelleSansBold;
  }
  .divider {
    background-color: #f48b91;
  }
}
</style>
