<template>
  <headroom class="fixed w-full z-50 pointer-events-none" :offset="100">
    <header class="py-8 pointer-events-auto">
      <div class="container mx-auto flex items-center px-5 md:px-0">
        <g-image src="~/img/logo.svg" class="w-40 md:w-56 z-10" />
        <button
          class="hamburger hamburger--collapse block z-10 focus:outline-none"
          type="button"
          @click="showMenu = !showMenu"
          :class="{'is-active': showMenu}"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <ul
          class="ml-auto flex fixed lg:relative flex-col lg:flex-row w-full lg:w-auto min-h-screen lg:min-h-0 top-0 left-0 justify-center items-center nushu-menu"
          :class="{'show-menu': showMenu}"
        >
          <li class="lg:mr-5 mb-10 lg:mb-0">
            <a
              href="#"
              v-scroll-to="'#services'"
              class="text-xl"
              @click="showMenu = false"
            >Servicios</a>
          </li>
          <li>
            <a href="#" v-scroll-to="'#contact'" class="text-xl" @click="showMenu = false">Contacto</a>
          </li>
        </ul>
      </div>
    </header>
  </headroom>
</template>

<script>
import { headroom } from 'vue-headroom'
import VueScrollTo from 'vue-scrollto'
import Vue from 'vue'
Vue.use(VueScrollTo)
export default {
  data() {
    return {
      showMenu: false
    }
  },
  components: {
    headroom
  }
}
</script>

<style lang="scss">
.nushu-menu {
  background-color: $color--blue;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  &.show-menu {
    transform: translateX(0);
  }
  @media (min-width: 1024px) {
    background-color: transparent;
    transform: translateX(0);
  }
}
ul {
  li {
    a {
      color: #fff;
      font-family: AdelleSansBold;
      transition: all 0.3s ease-in-out;
      @media (min-width: 1024px) {
        color: #4d4d4d;
      }
    }
  }
}
.headroom {
  will-change: transform;
  transition: transform 200ms linear, background-color 0.3s ease-in-out;
}
.headroom--pinned {
  transform: translateY(0%);
  &.headroom--not-top {
    background-color: #95b8e2;
    ul li a {
      color: #fff;
    }
  }
}
.headroom--unpinned {
  transform: translateY(-100%);
}
</style>