<template>
  <section id="services" class="py-32">
    <div class="container mx-auto">
      <div class="flex justify-center relative pb-5">
        <div
          class="px-3 lg:px-20 cursor-pointer block"
          :class="[ selectedTab === 'servicios' ? 'is-active' : '']"
          @click="selectedTab = 'servicios'; moveIndicator()"
          ref="servicios"
        >
          <ServicesIcon class="mx-auto" />
          <h2 class="text-sm md:text-lg lg:text-2xl mt-3">Servicios</h2>
        </div>
        <div
          class="px-3 lg:px-20 cursor-pointer block"
          :class="[ selectedTab === 'procedimientos' ? 'is-active' : '']"
          @click="selectedTab = 'procedimientos'; moveIndicator();"
          ref="procedimientos"
        >
          <ProcedureIcon class="mx-auto" />
          <h2 class="text-sm md:text-lg lg:text-2xl mt-3">Procedimientos</h2>
        </div>
        <div
          class="px-3 lg:px-20 cursor-pointer block"
          :class="[ selectedTab === 'cirugias' ? 'is-active' : '']"
          @click="selectedTab = 'cirugias'; moveIndicator();"
          ref="cirugias"
        >
          <CirugiaIcon class="mx-auto" />
          <h2 class="text-sm md:text-lg lg:text-2xl mt-3">Cirugías</h2>
        </div>
        <span class="tabs-divider absolute w-full bottom-0 left-0"></span>
        <g-image src="~/img/indicator.svg" class="absolute bottom-0 indicator" ref="indicator" />
      </div>
      <div v-if="selectedTab == 'servicios'" class="w-11/12 mx-auto lg:flex mt-8">
        <div class="lg:w-3/12 text-lg px-6 mb-10 lg:mb-0">
          <strong>Consulta</strong>
          <br />Ginecológica
        </div>
        <div class="lg:w-3/12 text-lg px-6 mb-10 lg:mb-0">
          <strong>Consulta</strong>
          <br />Gineco-oncológica
        </div>
        <div class="lg:w-3/12 text-lg px-6 mb-10 lg:mb-0">
          <strong>Asesoría</strong> de enfermedades ginecológicas y gineco-oncológicas
        </div>
        <div class="lg:w-3/12 text-lg px-6 mb-10 lg:mb-0">
          <strong>Tamizaje</strong> de:
          <br />
          <ul class="nushu-list">
            <li class="relative">Tumores de mama</li>
            <li class="relative">Cáncer cervicouterino</li>
            <li class="relative">Tumores de ovario</li>
            <li class="relative">Tumores uterinos</li>
            <li class="relative">Enfermedades de endometrio</li>
            <li class="relative">Tumores de vulva y vagina</li>
          </ul>
        </div>
      </div>
      <div v-if="selectedTab == 'procedimientos'" class="w-11/12 mx-auto lg:flex mt-8">
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Exploración</strong> Mamaria
          <br />
          <ul class="nushu-list">
            <li class="relative">Toma de biopsias con aguja fina</li>
            <li class="relative">Toma de biopsias con aguja de corte</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Papanicolaou</strong>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Toma de</strong> biopsias
          <br />
          <ul class="nushu-list">
            <li class="relative">De cuello uterino</li>
            <li class="relative">Cono cervical</li>
            <li class="relative">De endometrio</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Rastreo</strong> Ultrasonográfico
          <br />
          <ul class="nushu-list">
            <li class="relative">Ginecológico Pélvico</li>
            <li class="relative">Ginecológico Endovaginal</li>
            <li class="relative">Mama</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Aplicación</strong> de vacunas
          <br />
          <ul class="nushu-list">
            <li class="relative">Contra virus de papiloma humano</li>
          </ul>
        </div>
      </div>
      <div v-if="selectedTab == 'cirugias'" class="w-11/12 mx-auto lg:flex mt-8">
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Biopsia</strong> de mama
          <br />
          <ul class="nushu-list">
            <li class="relative">Biopsias guiadas de mama (diagnósticas)</li>
            <li class="relative">Tumorectomía de mama (tumores benignos)</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Mastectomías</strong>
          <br />
          <ul class="nushu-list">
            <li class="relative">Simple</li>
            <li class="relative">Cirugía conservadora de la mama (cáncer de mama)</li>
            <li class="relative">Mastectomía radical (cáncer de mama)</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Laparotomías</strong>
          <br />
          <ul class="nushu-list">
            <li class="relative">Tumores de ovario (benignos o malignos)</li>
            <li class="relative">Cirugía preservadora de fertilidad</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Histerectomía no Oncológica</strong>
          <br />
          <ul class="nushu-list">
            <li class="relative">Miomas</li>
            <li class="relative">Sangrados uterinos anormales</li>
            <li class="relative">Adenomiosis</li>
          </ul>
        </div>
        <div class="lg:w-1/5 text-lg px-6 mb-10 lg:mb-0">
          <strong>Histerectomía oncológica</strong>
          <br />
          <ul class="nushu-list">
            <li class="relative">Cáncer de cuello uterino (cervix)</li>
            <li class="relative">Cáncer de endometrio</li>
            <li class="relative">Cáncer de ovario</li>
            <li class="relative">Sarcomas</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ServicesIcon from '~/components/ServicesIcon'
import ProcedureIcon from '~/components/ProcedureIcon'
import CirugiaIcon from '~/components/CirugiaIcon'
export default {
  data() {
    return {
      selectedTab: 'servicios'
    }
  },
  components: {
    ServicesIcon,
    ProcedureIcon,
    CirugiaIcon
  },
  mounted() {
    this.moveIndicator()
  },
  methods: {
    moveIndicator() {
      let selectedItem = this.$refs[this.selectedTab]
      let indicator = this.$refs.indicator
      let center =
        selectedItem.offsetLeft +
        selectedItem.offsetWidth / 2 -
        indicator.offsetWidth / 2
      indicator.style.left = `${center}px`
    }
  }
}
</script>

<style lang="scss">
#services {
  background-color: #f2f2f2;
  h2 {
    font-family: AdelleSansBold;
    color: #333333;
  }
  svg {
    height: 50px;
    path {
      fill: #333333;
    }
  }
  .is-active {
    h2 {
      color: #95b8e2;
    }
    path {
      fill: #95b8e2;
    }
  }
  .tabs-divider {
    height: 1px;
    background-color: #95b8e2;
  }
  .nushu-list {
    li {
      padding-left: 20px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #333333;
        left: 0;
        top: 0.8rem;
        margin: auto;
      }
    }
  }
  .indicator {
    transform: translateY(50%);
    transition: all 0.3s ease-in-out;
  }
}
</style>