<template>
  <div class="layout overflow-hidden relative">
    <Header />
    <slot />
  </div>
</template>

<script>
import Header from '~/components/Header'
export default {
  components: {
    Header
  }
}
</script>

<style lang="scss">
@font-face {
  font-family: AdelleSans;
  src: url('../fonts/AdelleSansW01Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: AdelleSansBold;
  src: url('../fonts/AdelleSansW01Bold.ttf');
  font-weight: normal;
}

body {
  font-family: AdelleSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  &:focus,
  &:active {
    outline: none;
  }
}

strong {
  font-family: AdelleSansBold;
}

a {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #f48b91;
  }
}
</style>
