$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-color: #fff;
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

$color--blue: #95b8e2;

.hamburger {
  margin-left: auto;
  @media (min-width: 1024px) {
    display: none;
  }
}
